<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635728063977-h5lf9quprak7nvj16nvh0ohvvt4mbb30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635728063977-h5lf9quprak7nvj16nvh0ohvvt4mbb30</string>
	<key>API_KEY</key>
	<string>AIzaSyAxK8k9efwXYlnE4dpzKl-tf9BqSibH16Y</string>
	<key>GCM_SENDER_ID</key>
	<string>635728063977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.srdpt3.AIExpenseAssistant</string>
	<key>PROJECT_ID</key>
	<string>alexpenseassistant</string>
	<key>STORAGE_BUCKET</key>
	<string>alexpenseassistant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635728063977:ios:50ab451b72ddba5b65ef78</string>
</dict>
</plist>